<div
  [id]="match().matchDatetime.substring(0, 10)"
  class="relative w-full flex flex-row h-24 rounded-full shadow-lg cursor-pointer hover:shadow-xl bg-white hover:bg-primary-50 focus-within:bg-primary-50 border-t border-l border-r border-primary-900"
>
  <match-card-schedule [match]="match()" [bet]="bet()"></match-card-schedule>
  <match-in-progress class="absolute -top-1" [show]="matchInProgress()"></match-in-progress>
  <match-card-flag [team]="match().homeTeam!"></match-card-flag>
  <div class="flex-1 w-full flex flex-row gap-2 justify-center items-center">
    <match-card-team-name [team]="match().homeTeam!" [homeAway]="'home'"></match-card-team-name>
    <div class="w-28 text-4xl font-bold my-2 flex flex-row justify-center items-center relative">
      @if (startIsInThePast()) {
        <div cass="text-right">{{ match().homeGoals }}</div>
        <div class="w-8 text-center">:</div>
        <div cass="text-left">{{ match().awayGoals }}</div>
        <div class="absolute -bottom-6 text-lg text-gray-500">
          @if (bet()) {
            {{ bet()?.homeGoalsBet }} : {{ bet()?.awayGoalsBet }}
          } @else {
            {{ 'matchCard.noBet' | transloco }}
          }
        </div>
      } @else {
        <div>
          <input
            class="w-8 text-3xl text-center border-b border-primary-500 outline-0"
            type="number"
            [(ngModel)]="homePrediction"
          />
        </div>
        <div class="w-8 text-center">:</div>
        <div cass="text-left">
          <input
            class="w-8 text-3xl text-center border-b border-primary-500 outline-0"
            type="number"
            [(ngModel)]="awayPrediction"
          />
        </div>
      }
    </div>
    <match-card-team-name [team]="match().awayTeam!" [homeAway]="'away'"></match-card-team-name>
  </div>
  <match-card-flag [team]="match().awayTeam!"></match-card-flag>

  <div class="absolute bottom-0.5 w-full flex justify-center items-center">
    <div
      [id]="'savedTip' + match().id"
      class="saved-tip text-sm px-4 py-px rounded-full bg-primary-500 text-gray-50"
    >
      {{ 'matchCard.betSaved' | transloco }}
    </div>
  </div>
</div>
