<div
  [id]="match().matchDatetime.substring(0, 10)"
  class="relative w-full flex flex-row h-24 rounded-full shadow-lg cursor-pointer hover:shadow-xl bg-primary-50 hover:bg-white hover:border hover:border-primary-100"
>
  <div class="absolute -top-3 w-full flex justify-center">
    <div
      class="flex text-sm rounded-full px-6 py-1 bg-primary-900 text-gray-50 dark:border-primary-100 dark:bg-primary-100 dark:text-gray-900"
    >
      @if (startIsInThePast()) {
        5 pontos
      } @else {
        {{ formatMatchDate() }}
      }
    </div>
  </div>
  <img
    [src]="match().homeTeam?.flagUrl"
    [alt]="match().homeTeam?.fifaCode"
    class="object-cover rounded-full shadow-2xl bg-white"
    style="width: 6rem; height: 6rem"
  />
  <div class="flex-1 w-full flex flex-row gap-2 justify-center items-center">
    <div class="flex-1 text-2xl font-semibold text-right">{{ match().homeTeam?.nameEn }}</div>
    <div class="w-28 text-4xl font-bold my-2 flex flex-row justify-center items-center relative">
      @if (startIsInThePast()) {
        @if (matchInProgress()) {
          <div class="absolute -top-5 text-lg text-gray-500">...</div>
        }
        <div cass="text-right">2</div>
        <div class="w-8 text-center">:</div>
        <div cass="text-left">1</div>
        <div class="absolute -bottom-6 text-lg text-gray-500">1 : 0</div>
      } @else {
        <div>
          <input
            class="w-8 text-3xl text-center border-b border-primary-500 outline-0"
            type="number"
            [(ngModel)]="homePrediction"
          />
        </div>
        <div class="w-8 text-center">:</div>
        <div cass="text-left">
          <input
            class="w-8 text-3xl text-center border-b border-primary-500 outline-0"
            type="number"
            [(ngModel)]="awayPrediction"
          />
        </div>
      }
    </div>
    <div class="flex-1 text-2xl font-semibold text-left">{{ match().awayTeam?.nameEn }}</div>
  </div>
  <img
    [src]="match().awayTeam?.flagUrl"
    [alt]="match().awayTeam?.fifaCode"
    class="object-cover rounded-full shadow-2xl bg-white"
    style="width: 6rem; height: 6rem"
  />
</div>
