<div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2">
  <!-- Ranking -->
  <div>
    @if (ranking.isLoading()) {
      <p>{{ 'dashboard.ranking.loading' | transloco }}</p>
    } @else if (ranking.hasValue()) {
      <ranking-card [ranking]="ranking.value()!"></ranking-card>
    }
  </div>

  <!-- Recent results -->
  <div>
    @if (bets.isLoading()) {
      <p>{{ 'dashboard.recentResults.loading' | transloco }}</p>
    } @else if (bets.hasValue()) {
      <recent-results-card [bets]="bets.value()!"></recent-results-card>
    }
  </div>

  <!-- Upcoming matches -->
  <div class="col-span-full">
    @if (matches.isLoading()) {
      <p>{{ 'dashboard.upcomingMatches.loading' | transloco }}</p>
    } @else if (matches.hasValue() && bets.hasValue()) {
      <upcoming-matches-card [matches]="matches.value()!" [bets]="bets.value()!"></upcoming-matches-card>
    }
  </div>
</div>
